/* 

LostGrid responsive grid 

Requires:
- normalize.css
- PostCSS with Lost

*/

@import "../node_modules/normalize.css/normalize.css";

@lost flexbox flex;
@lost gutter 1em;

* {
  lost-utility: edit;
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    lost-center: 768px 1em no-flex;
  }
  .column:not(.stack) {
    lost-column: 1/1 !important;
  }
  .is-hidden-handheld {
    display: none;
  }

  .is-hidden-mobile {
    display: none;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1023px) {
  .container {
    lost-center: 769px 1em no-flex;
  }

  .column:not(.stack) {
    lost-column: 1/2 !important;
  }
  .is-hidden-tablet {
    display: none;
  }
  .is-hidden-mobile {
    display: none;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    lost-center: 1024px 1em no-flex;
  }
  .is-hidden-desktop {
    display: none;
  }
}

/* Widescreen */
@media (min-width: 1216px) {
  .container {
    lost-center: 1216px 1em no-flex;
  }
  .is-hidden-desktop {
    display: none;
  }
}

/* Full HD */
@media (min-width: 1408px) {
  .container {
    lost-center: 1408px 1em no-flex;
  }
  .is-hidden-desktop {
    display: none;
  }
}

.fullwidth {
  min-width: 100% !important;
}

.row {
  lost-row: 1/3 6em;
  lost-flex-container: row;
}

.row.no-gutter {
  lost-row: 1/3 0 !important;
}

.is-single {
  lost-column: 1/1;
}

.is-half {
  lost-column: 1/2;
}

.is-one-third {
  lost-column: 1/3;
}

.is-two-thirds {
  lost-column: 2/3;
}

.is-one-quarter {
  lost-column: 1/4;
}

.is-two-quarters {
  lost-column: 2/4;
}

.is-three-quarters {
  lost-column: 3/4;
}

.is-one-fifth {
  lost-column: 1/5;
}

.is-two-fifths {
  lost-column: 2/5;
}

.is-three-fifths {
  lost-column: 3/5;
}

.is-four-fifths {
  lost-column: 4/5;
}

.is-one-sixth {
  lost-column: 1/6;
}

.is-two-sixths {
  lost-column: 2/6;
}

.is-three-sixths {
  lost-column: 3/6;
}

.is-four-sixths {
  lost-column: 4/6;
}

.is-five-sixths {
  lost-column: 5/6;
}

.is-one-seventh {
  lost-column: 1/7;
}

.is-two-sevenths {
  lost-column: 2/7;
}

.is-three-sevenths {
  lost-column: 3/7;
}
.is-four-sevenths {
  lost-column: 4/7;
}

.is-five-sevenths {
  lost-column: 5/7;
}

.is-six-sevenths {
  lost-column: 6/7;
}

.is-one-eighth {
  lost-column: 1/8;
}

.is-two-eighths {
  lost-column: 2/8;
}

.is-three-eighths {
  lost-column: 3/8;
}

.is-four-eighths {
  lost-column: 4/8;
}

.is-five-eighths {
  lost-column: 5/8;
}

.is-six-eighths {
  lost-column: 6/8;
}

.is-seven-eighths {
  lost-column: 7/8;
}

.is-one-ninth {
  lost-column: 1/9;
}

.is-two-ninths {
  lost-column: 2/9;
}

.is-three-ninths {
  lost-column: 3/9;
}

.is-four-ninths {
  lost-column: 4/9;
}

.is-five-ninths {
  lost-column: 5/9;
}

.is-six-ninths {
  lost-column: 6/9;
}

.is-seven-ninths {
  lost-column: 7/9;
}

.is-eight-ninths {
  lost-column: 8/9;
}

.is-one-tenth {
  lost-column: 1/10;
}
.is-two-tenths {
  lost-column: 2/10;
}

.is-three-tenths {
  lost-column: 3/10;
}

.is-four-tenths {
  lost-column: 4/10;
}

.is-five-tenths {
  lost-column: 5/10;
}

.is-six-tenths {
  lost-column: 6/10;
}
.is-seven-tenths {
  lost-column: 7/10;
}

.is-eight-tenths {
  lost-column: 8/10;
}

.is-nine-tenths {
  lost-column: 9/10;
}

.is-one-eleventh {
  lost-column: 1/11;
}

.is-two-elevenths {
  lost-column: 2/11;
}

.is-three-elevenths {
  lost-column: 3/11;
}

.is-four-elevenths {
  lost-column: 4/11;
}

.is-five-elevenths {
  lost-column: 5/11;
}

.is-six-elevenths {
  lost-column: 6/11;
}

.is-seven-elevenths {
  lost-column: 7/11;
}

.is-eight-elevenths {
  lost-column: 8/11;
}

.is-nine-elevenths {
  lost-column: 9/11;
}

.is-ten-elevenths {
  lost-column: 10/11;
}

.is-one-twelfth,
.is-1 {
  lost-column: 1/12;
}

.is-two-twelfths,
.is-2 {
  lost-column: 2/12;
}

.is-three-twelfths,
.is-3 {
  lost-column: 3/12;
}

.is-four-twelfths,
.is-4 {
  lost-column: 4/12;
}

.is-five-twelfths,
.is-5 {
  lost-column: 5/12;
}

.is-six-twelfths,
.is-6 {
  lost-column: 6/12;
}

.is-seven-twelfths,
.is-7 {
  lost-column: 7/12;
}

.is-eight-twelfths,
.is-8 {
  lost-column: 8/12;
}

.is-nine-twelfths,
.is-9 {
  lost-column: 9/12;
}

.is-ten-twelfths,
.is-10 {
  lost-column: 10/12;
}

.is-eleven-twelfths,
.is-11 {
  lost-column: 11/12;
}

.is-twelve-twelfths,
.is-12 {
  lost-column: 12/12;
}
